<h1>Developers:</h1>

<h2>Allen Rand -  arand@wisc.edu</h2>
<h2>Anthony To</h2>
<h2>Christian Bruce</h2>
<h2>Katie Anderson</h2>
<h2>Shachi Agarwalla</h2>
<h3>Have a skill that we don’t have listed? Send an email to foo@bar.com with the skill to have it added.
</h3>