<div id="fullpage">
    <div class="section" id="section1" >
			<%= image_tag "cooking.jpg", class: "img-responsive full-image" %>
		</div>
		
    <div class="section" id="section2" >
			<%= image_tag "camera.jpeg", class: "img-responsive full-image" %>
    </div>
		
    <div class="section" id="section3" >
			<%= image_tag "scuba.jpeg", class: "img-responsive full-image" %>
    </div>
</div>

<script>
	$(document).ready(function() {
	    $('#fullpage').fullpage();
	});
</script>
