<% @users.each do |user| %>
	First name: <%= link_to user.first_name, user_path(user) %></br>
<% end %>

<div class="row">
	<div class="col-md-3 col-md-offset-4">
		<nav>
			<ul class="pagination">
				<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>						
						</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<h2 class="sub-header">Search Results</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Tutor</th>
        <th>Subject</th>
        <th>Location</th>
        <th>Rating</th>
        <th>Experience</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Allen</td>
        <td>yo-yo</td>
        <td>Bad boy, WI</td>
        <td><img src="images/stars_5.png" alt="5 Stars" width="125" height="25"> </td>
        <td>Expert</td>
      </tr>
    </tbody>
  </table>
</div>
