<div id="results-table" class="table-responsive">
	<h2 class="sub-header">Search Results</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Tutor</th>
        <th>Skills</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
			<% @users.each do |user| %>
	      <tr>
	        <td><%= link_to user.first_name, user_path(user) %></td>
	        <td>
						<% skills = user.skills.map{|s| s.name}.join(", ") %>
						<%= skills %>
					</td>
					<% if user.rating == 0.0 %>
		        <td>No ratings yet.</td>
					<% else %>
		        <td><%= user.rating %> </td>
					<% end %>
	      </tr>
			<% end %>
    </tbody>
  </table>
</div>