<% @title="Search"%>
		
<div class="row">
	<div class="col-md-3 col-md-offset-4">
		<form class="navbar-form" role="search">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-info">Search</button>
		</forum>
	</div>
</div>

<div class="row">
	<div class="col-md-5 col-md-offset-4">
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox2" value="option2"> 
			Search by tutor name
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox3" value="option3"> 
			Search by skill
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox3" value="option4"> 
			Search by location 
		</label>
		</div>
</div>