<footer class="footer" style="background-color: #E0F9FF; height: 80px;">
	<div class="container">		
    <p class="text-muted">ZapSkills Development</p>	
  	<div class="pull-left" id="navigation-container">
			<ul id="navigation">
				<li>Version 0.01</li>
				<li><a href="aboutus.html">About us</a></li>
				<li><a href="help.html">Help</a></li>
				<li><a href="howto.html">How to</a></li>
				<li><a href="contactus.html">Contact us</a></li>
				<li><a href="termsandconditions.html">Terms & Conditions </a></li>
			</ul>
		</div>
	</div>
</footer>